body {
    /*width: 500px;*/
    /*height: 500px;*/
    text-align: center;
}

.container{
    width: 800px;
}

#form_add {
    margin: 20px;
    display: none;
}

div,
input,
textarea {
    margin-top: 10px;
}

#form_coupon {
    display: none;
}

#logout, #remove{
    cursor: pointer;
}

.date{
    cursor: pointer;
}